In [1]:
# Import dependency
import pandas as pd

In [2]:
# Read historic precipitation data in CSV to a DataFrame
file_path1 = "../Raw Data/Italy Precipitation Historic.csv"
precip_df = pd.read_csv(file_path1)
precip_df.head()

,Unnamed: 0,Italy,Abruzzi,Basilicata,Calabria,Campania,Emilia-romagna,Friuli-venezia Giulia,Lazio,Liguria,...,Molise,Piemonte,Puglia,Sardegna,Sicilia,Toscana,Trentino-alto Adige,Umbria,Valle D'aosta,Veneto
0,1901,1080.58,859.77,781.18,957.26,810.47,1082.91,1790.35,861.83,1472.87,...,758.43,1593.39,722.68,667.53,647.70,950.59,1771.69,923.84,2095.57,1004.62
1,1902,901.40,805.12,766.21,867.46,793.15,812.75,1561.69,800.84,1019.67,...,738.23,1163.99,717.37,674.36,593.60,807.47,1445.43,793.42,1749.09,763.09
2,1903,911.66,771.15,643.98,647.90,699.63,873.27,1828.76,773.54,1240.01,...,674.68,1318.54,609.49,650.17,399.91,818.16,1599.27,788.65,1779.30,863.32
3,1904,893.15,850.69,771.21,956.05,820.07,780.49,1672.65,806.84,810.86,...,749.65,985.70,678.24,594.68,641.53,763.87,1548.74,832.07,1473.36,804.40
4,1905,1051.60,999.23,768.86,807.23,872.30,1071.48,1860.46,962.70,1264.37,...,865.69,1448.91,695.96,701.53,538.73,1045.39,1613.99,1066.49,2000.28,1013.02

In [3]:
# Rename unnamed column
precip_df = precip_df.rename(columns={'Unnamed: 0': 'Year'})
precip_df.head()

,Year,Italy,Abruzzi,Basilicata,Calabria,Campania,Emilia-romagna,Friuli-venezia Giulia,Lazio,Liguria,...,Molise,Piemonte,Puglia,Sardegna,Sicilia,Toscana,Trentino-alto Adige,Umbria,Valle D'aosta,Veneto
0,1901,1080.58,859.77,781.18,957.26,810.47,1082.91,1790.35,861.83,1472.87,...,758.43,1593.39,722.68,667.53,647.70,950.59,1771.69,923.84,2095.57,1004.62
1,1902,901.40,805.12,766.21,867.46,793.15,812.75,1561.69,800.84,1019.67,...,738.23,1163.99,717.37,674.36,593.60,807.47,1445.43,793.42,1749.09,763.09
2,1903,911.66,771.15,643.98,647.90,699.63,873.27,1828.76,773.54,1240.01,...,674.68,1318.54,609.49,650.17,399.91,818.16,1599.27,788.65,1779.30,863.32
3,1904,893.15,850.69,771.21,956.05,820.07,780.49,1672.65,806.84,810.86,...,749.65,985.70,678.24,594.68,641.53,763.87,1548.74,832.07,1473.36,804.40
4,1905,1051.60,999.23,768.86,807.23,872.30,1071.48,1860.46,962.70,1264.37,...,865.69,1448.91,695.96,701.53,538.73,1045.39,1613.99,1066.49,2000.28,1013.02

In [4]:
# Create new dataframe with applicable provinces
new_precip_df = precip_df[['Year', 'Piemonte', 'Sardegna', 'Sicilia', 'Toscana', 'Veneto']]

# Rename columns to ID them as precipitation columns
new_precip_df = new_precip_df.rename(columns={'Piemonte': 'Piemonte Precip', 'Sardegna': 'Sardegna Precip', 'Sicilia': 'Sicilia Precip', 'Toscana': 'Toscana Precip', 'Veneto': 'Veneto Precip'})

new_precip_df.head()

,Year,Piemonte Precip,Sardegna Precip,Sicilia Precip,Toscana Precip,Veneto Precip
0,1901,1593.39,667.53,647.70,950.59,1004.62
1,1902,1163.99,674.36,593.60,807.47,763.09
2,1903,1318.54,650.17,399.91,818.16,863.32
3,1904,985.70,594.68,641.53,763.87,804.40
4,1905,1448.91,701.53,538.73,1045.39,1013.02

In [5]:
# Read historic temperature data in CSV to a DataFrame
file_path2 = "../Raw Data/Italy Temp Historic.csv"
temp_df = pd.read_csv(file_path2)
temp_df.head()

,Unnamed: 0,Italy,Abruzzi,Basilicata,Calabria,Campania,Emilia-romagna,Friuli-venezia Giulia,Lazio,Liguria,...,Molise,Piemonte,Puglia,Sardegna,Sicilia,Toscana,Trentino-alto Adige,Umbria,Valle D'aosta,Veneto
0,1901,11.24,10.93,12.64,15.13,13.11,10.60,7.80,13.54,10.94,...,12.11,8.33,14.69,14.54,16.02,11.60,1.10,11.15,1.45,11.86
1,1902,11.52,11.21,12.77,15.30,13.30,10.95,8.00,13.82,11.28,...,12.35,8.68,14.81,14.87,16.19,11.96,1.39,11.44,1.78,12.20
2,1903,11.56,11.45,12.85,15.13,13.33,11.07,8.30,13.97,11.40,...,12.52,8.80,14.96,14.51,15.82,12.04,1.64,11.62,1.89,12.36
3,1904,12.03,11.86,13.07,15.34,13.66,11.65,8.72,14.43,12.05,...,12.90,9.47,15.18,15.07,16.14,12.59,2.14,12.12,2.56,12.93
4,1905,11.40,11.23,12.65,15.02,13.16,10.89,8.16,13.76,11.21,...,12.36,8.63,14.77,14.50,15.79,11.82,1.38,11.38,1.74,12.19

In [6]:
# Rename unnamed column
temp_df = temp_df.rename(columns={'Unnamed: 0': 'Year'})
temp_df.head()

,Year,Italy,Abruzzi,Basilicata,Calabria,Campania,Emilia-romagna,Friuli-venezia Giulia,Lazio,Liguria,...,Molise,Piemonte,Puglia,Sardegna,Sicilia,Toscana,Trentino-alto Adige,Umbria,Valle D'aosta,Veneto
0,1901,11.24,10.93,12.64,15.13,13.11,10.60,7.80,13.54,10.94,...,12.11,8.33,14.69,14.54,16.02,11.60,1.10,11.15,1.45,11.86
1,1902,11.52,11.21,12.77,15.30,13.30,10.95,8.00,13.82,11.28,...,12.35,8.68,14.81,14.87,16.19,11.96,1.39,11.44,1.78,12.20
2,1903,11.56,11.45,12.85,15.13,13.33,11.07,8.30,13.97,11.40,...,12.52,8.80,14.96,14.51,15.82,12.04,1.64,11.62,1.89,12.36
3,1904,12.03,11.86,13.07,15.34,13.66,11.65,8.72,14.43,12.05,...,12.90,9.47,15.18,15.07,16.14,12.59,2.14,12.12,2.56,12.93
4,1905,11.40,11.23,12.65,15.02,13.16,10.89,8.16,13.76,11.21,...,12.36,8.63,14.77,14.50,15.79,11.82,1.38,11.38,1.74,12.19

In [7]:
# Create new dataframe with applicable provinces
new_temp_df = temp_df[['Year', 'Piemonte', 'Sardegna', 'Sicilia', 'Toscana', 'Veneto']]

# Rename columns to ID them as temperature columns
new_temp_df = new_temp_df.rename(columns={'Piemonte': 'Piemonte Temp', 'Sardegna': 'Sardegna Temp', 'Sicilia': 'Sicilia Temp', 'Toscana': 'Toscana Temp', 'Veneto': 'Veneto Temp'})

new_temp_df.head()

   Year  Piemonte Temp  Sardegna Temp  Sicilia Temp  Toscana Temp  Veneto Temp
0  1901           8.33          14.54         16.02         11.60        11.86
1  1902           8.68          14.87         16.19         11.96        12.20
2  1903           8.80          14.51         15.82         12.04        12.36
3  1904           9.47          15.07         16.14         12.59        12.93
4  1905           8.63          14.50         15.79         11.82        12.19

In [8]:
# Merge the new_precip and new_temp DataFrames into one DataFrame
merge_df = pd.merge(new_precip_df, new_temp_df, on='Year')
merge_df.head()

,Year,Piemonte Precip,Sardegna Precip,Sicilia Precip,Toscana Precip,Veneto Precip,Piemonte Temp,Sardegna Temp,Sicilia Temp,Toscana Temp,Veneto Temp
0,1901,1593.39,667.53,647.70,950.59,1004.62,8.33,14.54,16.02,11.60,11.86
1,1902,1163.99,674.36,593.60,807.47,763.09,8.68,14.87,16.19,11.96,12.20
2,1903,1318.54,650.17,399.91,818.16,863.32,8.80,14.51,15.82,12.04,12.36
3,1904,985.70,594.68,641.53,763.87,804.40,9.47,15.07,16.14,12.59,12.93
4,1905,1448.91,701.53,538.73,1045.39,1013.02,8.63,14.50,15.79,11.82,12.19

In [9]:
# Create province DataFrame with year, precipitation and temperature
piemonte_df = merge_df[['Year', 'Piemonte Precip', 'Piemonte Temp']]

# Add a column to specify which province the precipitation and temperature data is for
piemonte_df['Province'] = pd.Series(['Piemonte' for x in range(len(piemonte_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
piemonte_df = piemonte_df.rename(columns={'Piemonte Precip': 'Historical Precip', 'Piemonte Temp': 'Historical Temp'})

# Reorder the columns
piemonte_df = piemonte_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

piemonte_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Province  Year  Historical Precip  Historical Temp
0  Piemonte  1901            1593.39             8.33
1  Piemonte  1902            1163.99             8.68
2  Piemonte  1903            1318.54             8.80
3  Piemonte  1904             985.70             9.47
4  Piemonte  1905            1448.91             8.63

In [10]:
# Create province DataFrame with year, precipitation and temperature
sardegna_df = merge_df[['Year', 'Sardegna Precip', 'Sardegna Temp']]

# Add a column to specify which province the precipitation and temperature data is for
sardegna_df['Province'] = pd.Series(['Sardegna' for x in range(len(sardegna_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
sardegna_df = sardegna_df.rename(columns={'Sardegna Precip': 'Historical Precip', 'Sardegna Temp': 'Historical Temp'})

# Reorder the columns
sardegna_df = sardegna_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

sardegna_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Province  Year  Historical Precip  Historical Temp
0  Sardegna  1901             667.53            14.54
1  Sardegna  1902             674.36            14.87
2  Sardegna  1903             650.17            14.51
3  Sardegna  1904             594.68            15.07
4  Sardegna  1905             701.53            14.50

In [11]:
# Create province DataFrame with year, precipitation and temperature
sicilia_df = merge_df[['Year', 'Sicilia Precip', 'Sicilia Temp']]

# Add a column to specify which province the precipitation and temperature data is for
sicilia_df['Province'] = pd.Series(['Sicilia' for x in range(len(sicilia_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
sicilia_df = sicilia_df.rename(columns={'Sicilia Precip': 'Historical Precip', 'Sicilia Temp': 'Historical Temp'})

# Reorder the columns
sicilia_df = sicilia_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

sicilia_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Province  Year  Historical Precip  Historical Temp
0  Sicilia  1901             647.70            16.02
1  Sicilia  1902             593.60            16.19
2  Sicilia  1903             399.91            15.82
3  Sicilia  1904             641.53            16.14
4  Sicilia  1905             538.73            15.79

In [12]:
# Create province DataFrame with year, precipitation and temperature
toscana_df = merge_df[['Year', 'Toscana Precip', 'Toscana Temp']]

# Add a column to specify which province the precipitation and temperature data is for
toscana_df['Province'] = pd.Series(['Toscana' for x in range(len(toscana_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
toscana_df = toscana_df.rename(columns={'Toscana Precip': 'Historical Precip', 'Toscana Temp': 'Historical Temp'})

# Reorder the columns
toscana_df = toscana_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

toscana_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Province  Year  Historical Precip  Historical Temp
0  Toscana  1901             950.59            11.60
1  Toscana  1902             807.47            11.96
2  Toscana  1903             818.16            12.04
3  Toscana  1904             763.87            12.59
4  Toscana  1905            1045.39            11.82

In [13]:
# Create province DataFrame with year, precipitation and temperature
veneto_df = merge_df[['Year', 'Veneto Precip', 'Veneto Temp']]

# Add a column to specify which province the precipitation and temperature data is for
veneto_df['Province'] = pd.Series(['Veneto' for x in range(len(veneto_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
veneto_df = veneto_df.rename(columns={'Veneto Precip': 'Historical Precip', 'Veneto Temp': 'Historical Temp'})

# Reorder the columns
veneto_df = veneto_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

veneto_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Province  Year  Historical Precip  Historical Temp
0   Veneto  1901            1004.62            11.86
1   Veneto  1902             763.09            12.20
2   Veneto  1903             863.32            12.36
3   Veneto  1904             804.40            12.93
4   Veneto  1905            1013.02            12.19

In [14]:
# Combine DataFrames into one
concat_df = pd.concat([piemonte_df, sardegna_df, sicilia_df, toscana_df, veneto_df])
concat_df

     Province  Year  Historical Precip  Historical Temp
0    Piemonte  1901            1593.39             8.33
1    Piemonte  1902            1163.99             8.68
2    Piemonte  1903            1318.54             8.80
3    Piemonte  1904             985.70             9.47
4    Piemonte  1905            1448.91             8.63
..        ...   ...                ...              ...
115    Veneto  2016             890.73            14.27
116    Veneto  2017             792.95            14.11
117    Veneto  2018             673.29            14.85
118    Veneto  2019             931.94            14.68
119    Veneto  2020             864.27            14.64

[600 rows x 4 columns]

In [15]:
# Save concat_df to CSV
concat_df.to_csv('../Raw Data/historical_weather_italy.csv', index=False)