In [1]:
# Import dependency
import pandas as pd

In [2]:
# Read projected precipitation data in CSV to a DataFrame
file_path1 = "../Raw Data/Italy Precipitation Predict.csv"
precip_df = pd.read_csv(file_path1)
precip_df.head()

,Unnamed: 0,Italy,Abruzzi,Basilicata,Calabria,Campania,Emilia-romagna,Friuli-venezia Giulia,Lazio,Liguria,...,Molise,Piemonte,Puglia,Sardegna,Sicilia,Toscana,Trentino-alto Adige,Umbria,Valle D'aosta,Veneto
0,2006,738.85,630.63,552.49,492.54,577.91,791.93,947.30,629.23,855.10,...,610.42,965.97,592.71,399.17,388.28,715.25,1025.67,666.67,1028.01,857.27
1,2007,760.18,667.84,606.97,529.06,619.64,813.33,952.81,657.15,774.07,...,642.82,893.92,620.58,434.81,392.77,737.18,1022.32,716.55,980.60,865.24
2,2008,735.57,621.77,552.22,464.37,564.15,775.67,960.81,609.22,876.13,...,603.13,976.72,600.59,405.20,329.45,708.52,1023.30,694.65,1050.56,868.73
3,2009,819.10,729.14,663.47,524.53,678.40,887.22,1027.92,700.28,967.22,...,686.89,1036.79,692.36,471.80,385.15,794.82,1142.35,770.53,1082.01,902.72
4,2010,796.42,711.05,615.08,494.30,625.36,859.28,1035.65,663.01,838.21,...,672.76,974.33,649.81,468.48,356.40,785.16,1113.36,748.21,1062.19,931.79

In [3]:
# Rename unnamed column
precip_df = precip_df.rename(columns={'Unnamed: 0': 'Year'})
precip_df.head()

,Year,Italy,Abruzzi,Basilicata,Calabria,Campania,Emilia-romagna,Friuli-venezia Giulia,Lazio,Liguria,...,Molise,Piemonte,Puglia,Sardegna,Sicilia,Toscana,Trentino-alto Adige,Umbria,Valle D'aosta,Veneto
0,2006,738.85,630.63,552.49,492.54,577.91,791.93,947.30,629.23,855.10,...,610.42,965.97,592.71,399.17,388.28,715.25,1025.67,666.67,1028.01,857.27
1,2007,760.18,667.84,606.97,529.06,619.64,813.33,952.81,657.15,774.07,...,642.82,893.92,620.58,434.81,392.77,737.18,1022.32,716.55,980.60,865.24
2,2008,735.57,621.77,552.22,464.37,564.15,775.67,960.81,609.22,876.13,...,603.13,976.72,600.59,405.20,329.45,708.52,1023.30,694.65,1050.56,868.73
3,2009,819.10,729.14,663.47,524.53,678.40,887.22,1027.92,700.28,967.22,...,686.89,1036.79,692.36,471.80,385.15,794.82,1142.35,770.53,1082.01,902.72
4,2010,796.42,711.05,615.08,494.30,625.36,859.28,1035.65,663.01,838.21,...,672.76,974.33,649.81,468.48,356.40,785.16,1113.36,748.21,1062.19,931.79

In [4]:
# Create new dataframe with applicable provinces
new_precip_df = precip_df[['Year', 'Piemonte', 'Sardegna', 'Sicilia', 'Toscana', 'Veneto']]

# Rename columns to ID them as precipitation columns
new_precip_df = new_precip_df.rename(columns={'Piemonte': 'Piemonte Precip', 'Sardegna': 'Sardegna Precip', 'Sicilia': 'Sicilia Precip', 'Toscana': 'Toscana Precip', 'Veneto': 'Veneto Precip'})

new_precip_df.head()

,Year,Piemonte Precip,Sardegna Precip,Sicilia Precip,Toscana Precip,Veneto Precip
0,2006,965.97,399.17,388.28,715.25,857.27
1,2007,893.92,434.81,392.77,737.18,865.24
2,2008,976.72,405.20,329.45,708.52,868.73
3,2009,1036.79,471.80,385.15,794.82,902.72
4,2010,974.33,468.48,356.40,785.16,931.79

In [5]:
# Read projected temperature data in CSV to a DataFrame
file_path2 = "../Raw Data/Italy Temp Predict.csv"
temp_df = pd.read_csv(file_path2)
temp_df.head()

,Unnamed: 0,Italy,Abruzzi,Basilicata,Calabria,Campania,Emilia-romagna,Friuli-venezia Giulia,Lazio,Liguria,...,Molise,Piemonte,Puglia,Sardegna,Sicilia,Toscana,Trentino-alto Adige,Umbria,Valle D'aosta,Veneto
0,2006,13.10,14.37,15.60,17.06,16.97,12.90,11.05,16.88,14.38,...,16.18,10.40,15.39,17.13,18.76,15.45,6.55,15.19,5.98,13.82
1,2007,13.26,14.59,15.78,17.17,17.11,13.06,11.33,17.00,14.45,...,16.34,10.48,15.59,17.09,18.72,15.55,6.81,15.33,6.04,14.14
2,2008,13.17,14.30,15.62,17.05,16.92,12.89,11.34,16.80,14.49,...,16.16,10.61,15.46,17.00,18.58,15.40,6.87,15.06,6.26,13.92
3,2009,13.33,14.43,15.62,17.02,17.02,13.15,11.65,17.02,14.66,...,16.21,10.76,15.43,17.12,18.75,15.68,7.13,15.33,6.37,14.30
4,2010,13.11,14.45,15.65,17.04,17.05,12.85,11.33,16.96,14.19,...,16.32,10.22,15.46,16.98,18.66,15.46,6.61,15.31,5.80,14.16

In [6]:
# Rename unnamed column
temp_df = temp_df.rename(columns={'Unnamed: 0': 'Year'})
temp_df.head()

,Year,Italy,Abruzzi,Basilicata,Calabria,Campania,Emilia-romagna,Friuli-venezia Giulia,Lazio,Liguria,...,Molise,Piemonte,Puglia,Sardegna,Sicilia,Toscana,Trentino-alto Adige,Umbria,Valle D'aosta,Veneto
0,2006,13.10,14.37,15.60,17.06,16.97,12.90,11.05,16.88,14.38,...,16.18,10.40,15.39,17.13,18.76,15.45,6.55,15.19,5.98,13.82
1,2007,13.26,14.59,15.78,17.17,17.11,13.06,11.33,17.00,14.45,...,16.34,10.48,15.59,17.09,18.72,15.55,6.81,15.33,6.04,14.14
2,2008,13.17,14.30,15.62,17.05,16.92,12.89,11.34,16.80,14.49,...,16.16,10.61,15.46,17.00,18.58,15.40,6.87,15.06,6.26,13.92
3,2009,13.33,14.43,15.62,17.02,17.02,13.15,11.65,17.02,14.66,...,16.21,10.76,15.43,17.12,18.75,15.68,7.13,15.33,6.37,14.30
4,2010,13.11,14.45,15.65,17.04,17.05,12.85,11.33,16.96,14.19,...,16.32,10.22,15.46,16.98,18.66,15.46,6.61,15.31,5.80,14.16

In [7]:
# Create new dataframe with applicable provinces
new_temp_df = temp_df[['Year', 'Piemonte', 'Sardegna', 'Sicilia', 'Toscana', 'Veneto']]

# Rename columns to ID them as temperature columns
new_temp_df = new_temp_df.rename(columns={'Piemonte': 'Piemonte Temp', 'Sardegna': 'Sardegna Temp', 'Sicilia': 'Sicilia Temp', 'Toscana': 'Toscana Temp', 'Veneto': 'Veneto Temp'})

new_temp_df.head()

   Year  Piemonte Temp  Sardegna Temp  Sicilia Temp  Toscana Temp  Veneto Temp
0  2006          10.40          17.13         18.76         15.45        13.82
1  2007          10.48          17.09         18.72         15.55        14.14
2  2008          10.61          17.00         18.58         15.40        13.92
3  2009          10.76          17.12         18.75         15.68        14.30
4  2010          10.22          16.98         18.66         15.46        14.16

In [8]:
# Merge the new_precip and new_temp DataFrames into one DataFrame
merge_df = pd.merge(new_precip_df, new_temp_df, on='Year')
merge_df.head()

,Year,Piemonte Precip,Sardegna Precip,Sicilia Precip,Toscana Precip,Veneto Precip,Piemonte Temp,Sardegna Temp,Sicilia Temp,Toscana Temp,Veneto Temp
0,2006,965.97,399.17,388.28,715.25,857.27,10.40,17.13,18.76,15.45,13.82
1,2007,893.92,434.81,392.77,737.18,865.24,10.48,17.09,18.72,15.55,14.14
2,2008,976.72,405.20,329.45,708.52,868.73,10.61,17.00,18.58,15.40,13.92
3,2009,1036.79,471.80,385.15,794.82,902.72,10.76,17.12,18.75,15.68,14.30
4,2010,974.33,468.48,356.40,785.16,931.79,10.22,16.98,18.66,15.46,14.16

In [9]:
# Create province DataFrame with year, precipitation and temperature
piemonte_df = merge_df[['Year', 'Piemonte Precip', 'Piemonte Temp']]

# Add a column to specify which province the precipitation and temperature data is for
piemonte_df['Province'] = pd.Series(['Piemonte' for x in range(len(piemonte_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
piemonte_df = piemonte_df.rename(columns={'Piemonte Precip': 'Projected Precip', 'Piemonte Temp': 'Projected Temp'})

# Reorder the columns
piemonte_df = piemonte_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

piemonte_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Province  Year  Projected Precip  Projected Temp
0  Piemonte  2006            965.97           10.40
1  Piemonte  2007            893.92           10.48
2  Piemonte  2008            976.72           10.61
3  Piemonte  2009           1036.79           10.76
4  Piemonte  2010            974.33           10.22

In [10]:
# Create province DataFrame with year, precipitation and temperature
sardegna_df = merge_df[['Year', 'Sardegna Precip', 'Sardegna Temp']]

# Add a column to specify which province the precipitation and temperature data is for
sardegna_df['Province'] = pd.Series(['Sardegna' for x in range(len(sardegna_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
sardegna_df = sardegna_df.rename(columns={'Sardegna Precip': 'Projected Precip', 'Sardegna Temp': 'Projected Temp'})

# Reorder the columns
sardegna_df = sardegna_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

sardegna_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Province  Year  Projected Precip  Projected Temp
0  Sardegna  2006            399.17           17.13
1  Sardegna  2007            434.81           17.09
2  Sardegna  2008            405.20           17.00
3  Sardegna  2009            471.80           17.12
4  Sardegna  2010            468.48           16.98

In [11]:
# Create province DataFrame with year, precipitation and temperature
sicilia_df = merge_df[['Year', 'Sicilia Precip', 'Sicilia Temp']]

# Add a column to specify which province the precipitation and temperature data is for
sicilia_df['Province'] = pd.Series(['Sicilia' for x in range(len(sicilia_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
sicilia_df = sicilia_df.rename(columns={'Sicilia Precip': 'Projected Precip', 'Sicilia Temp': 'Projected Temp'})

# Reorder the columns
sicilia_df = sicilia_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

sicilia_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Province  Year  Projected Precip  Projected Temp
0  Sicilia  2006            388.28           18.76
1  Sicilia  2007            392.77           18.72
2  Sicilia  2008            329.45           18.58
3  Sicilia  2009            385.15           18.75
4  Sicilia  2010            356.40           18.66

In [12]:
# Create province DataFrame with year, precipitation and temperature
toscana_df = merge_df[['Year', 'Toscana Precip', 'Toscana Temp']]

# Add a column to specify which province the precipitation and temperature data is for
toscana_df['Province'] = pd.Series(['Toscana' for x in range(len(toscana_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
toscana_df = toscana_df.rename(columns={'Toscana Precip': 'Projected Precip', 'Toscana Temp': 'Projected Temp'})

# Reorder the columns
toscana_df = toscana_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

toscana_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Province  Year  Projected Precip  Projected Temp
0  Toscana  2006            715.25           15.45
1  Toscana  2007            737.18           15.55
2  Toscana  2008            708.52           15.40
3  Toscana  2009            794.82           15.68
4  Toscana  2010            785.16           15.46

In [13]:
# Create province DataFrame with year, precipitation and temperature
veneto_df = merge_df[['Year', 'Veneto Precip', 'Veneto Temp']]

# Add a column to specify which province the precipitation and temperature data is for
veneto_df['Province'] = pd.Series(['Veneto' for x in range(len(veneto_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Projected"
veneto_df = veneto_df.rename(columns={'Veneto Precip': 'Projected Precip', 'Veneto Temp': 'Projected Temp'})

# Reorder the columns
veneto_df = veneto_df[['Province', 'Year', 'Projected Precip', 'Projected Temp']]

veneto_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Province  Year  Projected Precip  Projected Temp
0   Veneto  2006            857.27           13.82
1   Veneto  2007            865.24           14.14
2   Veneto  2008            868.73           13.92
3   Veneto  2009            902.72           14.30
4   Veneto  2010            931.79           14.16

In [14]:
# Combine DataFrames into one
concat_df = pd.concat([piemonte_df, sardegna_df, sicilia_df, toscana_df, veneto_df])
concat_df

    Province  Year  Projected Precip  Projected Temp
0   Piemonte  2006            965.97           10.40
1   Piemonte  2007            893.92           10.48
2   Piemonte  2008            976.72           10.61
3   Piemonte  2009           1036.79           10.76
4   Piemonte  2010            974.33           10.22
..       ...   ...               ...             ...
90    Veneto  2096            945.08           16.49
91    Veneto  2097            875.77           16.83
92    Veneto  2098            857.49           16.76
93    Veneto  2099            819.00           17.05
94    Veneto  2100            915.29           16.71

[475 rows x 4 columns]

In [15]:
# Save concat_df to CSV
concat_df.to_csv('../Raw Data/projected_weather_italy.csv', index=False)